initialize() {
    initializeMutationRate(0.0);
    initializeMutationType("m1", 0.5, "f", 0.0);
    initializeMutationType("m2", 0.5, "f", 0.1);
    initializeGenomicElementType("g1", m1, 1.0);
    initializeGenomicElement(g1, 0, 9999);
    initializeRecombinationRate(1e-8);
}

1 early() {
    sim.addSubpop("p1", 100);
}

10 late() {
    target = sample(p1.haplosomes, 1);
    target.addNewDrawnMutation(m2, 5000);
}

30 late() {
    catn("selected recipe finished");
    sim.simulationFinished();
}
